.pic {
background: url("pic.jpg");
background-size: 100%;
background-repeat: no-repeat;
}

h1 {

    color:brown;
    font-style: basilisk;
    background-color:rgb(240, 226, 226);
    font-size: 50px;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    height: 40px;
    background-color: rgb(56, 3, 3);
}

ul{
    

}

ul li{

    list-style: none;
    display: inline-block;
    line-height: 40px;
    float: left;
    line-height: 40px;
    
}

ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 37px;
    font-family: basilisk;
    color: rgb(224, 200, 200);
    padding: 0 80px;
}

.pic2{
    background: url("pic8.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.pic1{
    background: url("pic5.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background: #2626262;
}

p{
    
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 37px;
    font-family: basilisk;
    color: rgb(80, 7, 8);
    padding: 0 80px;

}

ul li .fa{

    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

ul li a .fa{

    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
   
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

ul li a .fa{
    position: relative;
    color: #262626;
    transition: .5s;
}

ul li a:hover .fa{
    color: #fff; 
    transform: rotateY(360deg);
}

ul li a:before .fa{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
}

ul li a:hover:before .fa{
    top: 0;
    z-index: 2;
}

ul li:nth-child(1) a:before .fa{
    background: #3b5999;
}

ul li:nth-child(2) a:before .fa{
    background: #0077B5;
}

ul li:nth-child(3) a:before .fa{
    background: #b92b27;
}
